@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Poppins', sans-serif;
    background-color:black;
}

button{
    @apply hover:bg-primary/80 shadow-cyan-500/50;
}

/* ::selection{
    background-color: transparent;
    
} */

#particlesAnime{
    height: 200px !important;
    width: 100%;
}



.auto_scroll_activity_section {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
    
}

@keyframes swipe {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-100%);
    }
}